.toCenter {
    text-align: center;
}

.calcNumb {
    width: 100px;
    height: 90px;
    font-size: 200%;
}


.inp {
    text-align: center;
    width: 500px;
    height: 50px;
    font-size: 150%;
}