.inCenter {
    text-align: center;
}

.more {
    height: 100px;
    width: 1000px;
}

.input {
    display: inline-block;
    margin-right: 50px;
}


.main {
    color: red;
    text-align: center;
}

.variable {
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

.test {
    width: 150px;
    height: 70px; 
}