.inCenter {
    text-align: center;
}


.input {
    display: inline-block;
    
}


.main {
    color: red;
    text-align: center;
}

.variable {
    color: black;
    border-radius: 10px;
    
}